*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); 
}
header{
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 30px;
}
main{
    text-align: center;
}
main h2{
    margin: 10px;
}
header, main{
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);

    padding: 30px 60px;
    max-width: 500px;
}
#inputField{
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);

    color: #ffffff;
    padding: 15px 25px;
}
.btn{
    border-radius: 8px;
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: #dc143c;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
    transition: opacity ease .3s;
}
.timer{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.days, .hours, .minutes{
    font-weight: 500;
    font-size: 40px;
}
.timer_child > *{
    margin: 25px;
}